<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	 
	<properties resource="config/app.properties"/>
	
	<settings >
		<setting name="cacheEnabled" value="false"/>
		<!-- 
		<setting name="logImpl" value="STDOUT_LOGGING" />
		 -->
	</settings>
	<plugins>
		<plugin interceptor="com.redxun.core.dao.mybatis.OffsetLimitInterceptor">
			<property name="dbType" value="${jdbc.type}"/>
			<property name="Dialect.oracle" value="com.redxun.core.dao.mybatis.dialect.OracleDialect"/>
			<property name="Dialect.mssql" value="com.redxun.core.dao.mybatis.dialect.SQLServer2005Dialect"/>
			<property name="Dialect.mysql" value="com.redxun.core.dao.mybatis.dialect.MySQLDialect"/>
			<property name="Dialect.db2" value="com.redxun.core.dao.mybatis.dialect.DB2Dialect"/>
			<property name="Dialect.h2" value="com.redxun.core.dao.mybatis.dialect.H2Dialect"/>
		</plugin>
	</plugins>
	 
</configuration>