@charset "utf-8"; 

body{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.container, .navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
    width: 940px;
}

.view .column{
	box-sizing: border-box;
	margin: 0 8px;
}

.span12 {
    width: calc( 100% - 16px );
}

.span11 {
    width: calc( 100% * 11 / 12 - 16px );
}

.span10 {
    width: calc( 100% * 10 / 12 - 16px );
}

.span9 {
    width: calc( 100% - 16px );
}

.span8 {
    width: calc( 100% * 8 / 12 - 16px );
}

.span7 {
    width: calc( 100% * 7 / 12 - 16px );
}

.span6 {
    width: calc( 50% - 16px );
}

.span5 {
    width: calc( 100% * 5 / 12 - 16px );
}

.span4 {
    width: calc( 100% * 4 / 12 - 16px );
}

.span3 {
    width: calc( 25% - 16px );
}

.span2 {
    width: calc( 100% * 2 / 12 - 16px );
}

.span1 {
    width: calc( 100% / 12 - 16px );
}

.row-fluid{
	margin: 0;
	margin-top: 0 !important;
    width: 100%;
    *zoom: 1;
}

.row-fluid .row-fluid>div{
	float: left;
}

.row-fluid .row-fluid::after{
	content: '';
	display: block;
	clear: both;
}

.devpreview body{
	margin: 0;
	padding-bottom: 0;
}

.topNav{
	position: fixed;
	top: 0;
	left: 200px;
	background: #fff;
	z-index: 50;
	padding: 8px;
	transition:.5s;
	width: calc(100% - 200px);
}

.topNav>li{
	float: left;
	width: 50px;
	padding:6px 0;
	background: #29b4f7;
	margin-right: 8px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	transition:.3s;
}

.topNav .active{
	background: #00e09e;
}

.topNav>li span{
	color: #fff;
}

.edit #cardUl>li{
	border: 1px solid #ececec;
}

body.devpreview{
	background: #f7f7f7;
}

.devpreview .container-fluid{
	margin: 0 6px;
}

.devpreview .topNav{
	left: 0;
	width: 100%;
}

.devpreview .lyrow{
	margin-bottom: 0;
}

.card_msg ul li{
    width: calc( 100% / 5 - 20px );
}

.mini-panel-border{
	border: none;
}

.sidebar-nav #estRows>div{
	padding: 0 12px;
	box-sizing: border-box;
	margin: 4px 0;
}

.drag,
.remove{
	background: #29b4f7;
	border-radius: 4px;
	padding: 1px 4px;
	color: #fff;
	font-size: 14px;
}

.remove{
	background: red;
}

.sidebar-nav li{
	line-height:normal !important;
}

.icon-move,
.remove>i{
	display: none;
}


.nav-header{
	position: relative;
}

.spread{
	float: right !important;
/* 	margin: 10px 5px 0 0 ; */
	width: 20px;
	height: 20px;
	position: absolute;
	transition:all .3s;
	margin-top: 12px;
	top: 50%;
	margin-top:-10px;
	right: 10px; 
}


.spread .horizontal{
	width: 16px;
	height: 2px;
	position: absolute;
	margin: -1px 0 0 -8px !important;
	top: 50%;
	left: 50%;
	background: #f5f5f5;
	border-radius: 2px;
	transition:all .3s;
}

.spread .vertical{
	width: 2px;
	height: 16px;
	position: absolute;
	margin: -8px 0 0 -1px !important;
	top:50%; 
	left: 50%;
	background: #f5f5f5;
	border-radius: 2px;
	transition:all .3s;
}

.activeNav .vertical{
	display: none;
}

