@charset "utf-8";
html,body {
	padding:0 0 0 0 !important;
	margin: 0;
	border: 0;
	width:100%;
	height: 100%;
	
}
.asLabel .mini-textbox-border,
.asLabel .mini-textbox-input,
.asLabel .mini-buttonedit-border,
.asLabel .mini-buttonedit-input,
.asLabel .mini-textboxlist-border{
	border: 0;
	background: none;
	cursor: default;
}

.asLabel .mini-buttonedit-button,.asLabel .mini-textboxlist-close {
	display: none;
}

.asLabel .mini-textboxlist-item {
	padding-right: 8px;
}

.form-outer {
/* 	border-top: 0; */
/* 	margin:5px 4px 0px 4px; */
}

.table-detail {
	border-collapse: collapse;
	border: solid 1px #d1d1d1;
	width: 100%;
/* 	margin-top: 6px; */
}


/*
.table-detail.column_2>tbody>tr>th{
	width: 8% !important;
}

.table-detail.column_2>tbody>tr>td{
	width: 42% !important;
}

*/

.table-detail > thead > tr > th {
	min-height: 25px;
	border: 1px solid #d1d1d1;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	padding: 4px;
	background-color: #E4E4E4;
	
}



.table-detail > tbody > tr > th {
	min-height: 35px;
	border: 1px solid #eee;
	text-align: right;
	font-weight: bold;
	max-width:200px;
/* 	width:30%; */
	background-color: #fefefe;
	text-indent:4px;
	padding:6px;
	color:#555;
	word-wrap:break-word; 
	word-break: normal; 
}

.table-detail > tbody > tr > td {
	min-height: 35px;
	border: 1px solid #eee;
	text-align: left;
	text-indent:4px;
	width:70%;
	padding-right:4px;
	padding-left:4px;
	background-color: #fff;
}


.table-detail .mini-checkboxlist td{
	border:none;
}

.table-detail .mini-radiobuttonlist td{
	border:none;
}



.table-detail caption {
	/*form*/
    font-weight: 500;
    text-align: center;
    font-size: 20px !important;
    font-family: '微软雅黑'!important;
    text-indent: -16px;
    height:48px;
    line-height: 48px;
/*     padding-left:10px; */
	
}


.caption {
	margin-top:4px;
	text-align: left;
	color:#fff;
	/* background-color:#f6fdff;
	border: solid 1px #f1f1f1; */
	border-bottom:none;
/* 	font-weight:bold; */
	font-size: 16px;
    padding: 6px 0px;
    background: rgb(0, 164, 255);
    text-indent: 8px;
}

.upload-panel {
	font-size: 9pt;
	font-family: Tahoma, Verdana, Microsoft yahei;
	overflow: hidden;
	position: relative;
	outline: none;
	padding: 2px !important;
}



.list-item {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 4px;
	height: auto;
}

.list-item li {
	list-style-type: none;
	float: left;
	display: inline-block;
	margin: 0 3px 0px 0;
	border: 1px solid #CAD8F3;
	background: #DEE7F8;
	height: 20px;
	line-height: 20px;
	margin-bottom: 2px;
	white-space: nowrap;
	position: relative;
	padding: 0 6px 0 6px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	cursor: default;
	padding-right: 15px;
}

.list-item a {
	text-decoration: none;
}

.table-view{
	width:100%;
	border-collapse:collapse;
	border:none;
	margin:0 auto;
}

.table-view .tab{
	border:dotted 1px #ccc;
}

.table-view > tbody > tr > td{
	border:solid #ececec 1px;
	padding:4px;
}

.table-view > tbody> tr > th{
	border:solid #ececec 1px;
	padding:4px;
	white-space:nowrap;
}

.table-view > thead > tr > td{
	border:solid #ccc 1px;
	padding:4px;
	white-space:nowrap;
}

.table-view > thead > tr > th{
	border:solid #ccc 1px;
	padding:4px;
}


.thead{
	height:26px;
	padding:6px;
	white-space: nowrap;
	text-align: right;
	min-width: 100px;
}



a.button { 
    display: block; 
    height: 30px; 
    width: 107px; 
    line-height: 2; 
    text-align: center; 
    background: red; 
    color: white; 
    font-size: 14px; 
    font-weight: bold; 
    text-decoration: none; 
	float:left;
	cursor:pointer;
	margin-left:4px;
	margin-right:4px;
    padding-top: 3px;
    z-index: 10000; 
}

.header-info{
	color:#3a588d;
	font-weight: bold;
	height:20px;
	width:100%;
	clear:both;
	font-size:14px;
	padding:6px;
}


.input-20{
	width: 20%;
}

.input-30{
	width: 30%;
}


.input-40{
	width: 40%;
}

.input-50{
	width: 60%;
}


.input-60{
	width: 60%;
}

.input-80{
	width: 80%;
}

.input-90{
	width: 90%;
}

.inputuserid{
	display:none;
}

.inputusertext{
	border: 0px;
	outline:none;
}

.mini-toolbar td{
/* 	border-bottom: 1px solid #eee; */
}


	/*a:hover { background: green;}*/
	
	
/*修改*/	
/*流程定义设置-流程定义管理明细*/
.icon-attachAdd	{margin-right:4px;}
.mini-button-icon-text	{text-indent:0px;}
.mini-left-form{ margin-left:2px;}

@media print {
  .noPrint {display:none;}
}
/* .table-detail{margin-bottom:4px;} */
.table-def .thead{background-color: #f0f0f0;}
.table-row td a{border:none;}
.table-row td .mini-button{border:1px solid #ececec;}
.table-row td a span{}
.table-detail select{width:80%; height:28px; border-color:#ececec;border-radius: 4px;}
.border-right{border-right:1px solid #ccc;}
.table-detail-padding>tbody>tr>td{padding:2px 0px;}
.form-width{width:1074px !important;}


.form-table {
	border-collapse: collapse;
	border: solid 1px #d1d1d1;
	width: 100%;
	margin-top: 6px;
}

form-table td,th {
	/* padding: 5px; */
}

.form-table caption {
	text-align: left;
	height: 28x;
	font-size: 16px;
	padding: 4px;
}

.form-table td {
	min-height: 22px;
	border: solid 1px #d1d1d1;
	padding: 5px;
	text-align: left;
}

.form-table th {
	border: solid 1px #ececec;
/* 	font-weight: bold; */
	padding: 5px;
	min-width: 120px;
	white-space: nowrap;
	text-align: center;
}


div.div-caption{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 14px;
}
