@charset "utf-8";
/* 修改 */
@font-face {
	font-family: 'iconfont';
	src: url('font/iconfont.eot');
	src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
		 url('font/iconfont.svg#iconfont') format('svg'),
		 url('font/iconfont.woff') format('woff'),
		 url('font/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 12px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-stroke-width: 0.2px; */
	-moz-osx-font-smoothing: grayscale;
}

body i{
	font-family: "iconfont" !important;
	font-size: 12px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-button{
	font-family: "iconfont" !important;
	font-size: 12px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-stroke-width: 0.2px; */
	-moz-osx-font-smoothing: grayscale;
}


.mini-iconfont,.mini-button-icon ,.mini-tab-icon,.mini-tab-icon,.mini-tree .mini-tree-icon,.rx-font{
	font-family: "iconfont" !important;
	font-style: normal;
	font-size: 14px;
}



/* 菜单导航 */

.sidebar_btn_up:before {content: "\e850";font-size:20px;;color:#fff}
.sidebar_btn_down:before {content: "\e84f";font-size:20px;;color:#fff}

.icon-more:before{
	content:"\e8cc";
	font-size:18px;
}
/* 导航栏 */
.icon-company:before { content: "\e62a";font-size: 16px;margin-right:5px;}
.icon-emails:before { content: "\e719";font-size: 18px;margin-right:5px;}
.icon-news:before { content: "\e621"; font-size: 12px;margin-right:5px;}


/*-------- 顶部导航栏 start---------- */
.icon-Office-collaboration:before {
	content: "\e7bb";
	font-size: 18px;
	color:#fff;	
}

.icon-Process-management:before {
	content: "\e636";
	font-size: 16px;
	color: #fff;
}

.icon-Knowledge-subsystem:before {
	content: "\e615";
	font-size: 18px;
	color:#fff;
	margin-right:5px
}

.icon-Document-subsystem:before {
	content: "\e64c";
	font-size: 16px;
	color:#fff;
}

.icon-system-configuration:before {
	content: "\e67e";
	font-size: 18px;
	color:#fff;
}

.icon-Help-configure:before {
	content: "\e600";
	font-size: 18px;
	color: #666;
	
}
/*-------- 顶部导航栏 end---------- */

/*-------- 一级菜单导航 start---------- */

/** 协同 **/
.icon-public:before {
	content: "\e65f";
	color: #818183;
	font-size: 18px;
	vertical-align: sub;
}


.icon-personal_office:before {
	content: "\ec4d";
	color: #818183;
	font-size: 18px;
}

.icon-document-management:before {
	content: "\e60e";
	color: #818183;
	font-size: 18px;
}

.icon-tasks:before {
	content: "\e632";
	color: #818183;
	font-size: 18px;
}

.icon-email:before {
	content: "\e719";
	color: #818183;
	font-size: 18px;
}


.icon-Check-work:before {
	content: "\e664";
	color: #818183;
	font-size: 18px;
}

.icon-xitongguanli:before{
	content: "\e60c";
	color: #818183;
	font-size: 50px;
}
/**大图50--------------------------------------**/
.icon-entform:before{
	content: "\e65c";
	color: #818183;
	font-size: 50px;
}

.icon-user-org-50:before{
	content: "\e86f";
	color: #818183;
	font-size: 50px;
}

.icon-form-edit-50:before{
	content: "\e83d";
	color: #0daaf6;
	font-size: 50px;
}

.icon-flow-design-50:before{
	content: "\e83e";
	color: #f83b3b;
	font-size: 50px;
}

.icon-mobile-50:before{
	content: "\e86b";
	color: #818183;
	font-size: 50px;
}

.icon-solution-50:before{
	content: "\e869";
	color: #818183;
	font-size: 50px;
}

.icon-grant-50:before{
	content: "\e874";
	color: #818183;
	font-size: 50px;
}

.icon-list-50:before{
	content: "\e83a";
	color: #0daaf6;
	font-size: 50px;
}

.icon-dialog-50:before{
	content: "\e838";
	color: #75ed77;
	font-size: 50px;
}
.icon-search-50:before{
	content: "\e870";
	color: #818183;
	font-size: 50px;
}

.icon-seq-no-50:before{
	content: "\e843";
	color: #58d8f8;
	font-size: 50px;
}

.icon-book-50:before{
	content: "\e83c";
	color: #818183;
	font-size: 50px;
}

.icon-database-50:before{
	content: "\e844";
	color: #f6829f;
	font-size: 50px;
}

.icon-bpm-inst-50:before{
	content: "\e873";
	color: #818183;
	font-size: 50px;
}

.icon-bpm-task-50:before{
	content: "\e836";
	color: #f6829f;
	font-size: 50px;
}
.icon-form-sol-50:before{
	content: "\e842";
	color: #818183;
	font-size: 50px;
}

.icon-vpn-50:before{
	content: "\e784";
	color: #818183;
	font-size: 50px;
}

.icon-network-50:before{
	content: "\e789";
	color: #818183;
	font-size: 50px;
}

.icon-kancha-50:before{
	content: "\e786";
	color: #818183;
	font-size: 50px;
}

.icon-ele-50:before{
	content: "\e788";
	color: #818183;
	font-size: 50px;
}

.icon-data-50:before{
	content: "\e78d";
	color: #818183;
	font-size: 50px;
}

.icon-gdata-50:before{
	content: "\e78b";
	color: #818183;
	font-size: 50px;
}

.icon-centrex-50:before{
	content: "\e78c";
	color: #818183;
	font-size: 50px;
}

/******18 size********/

.icon-user-org-18:before{
	content: "\ec4e";
	color: #818183;
	font-size: 18px;
}

.icon-form-edit-18:before{
	content: "\e71d";
	color: #818183;
	font-size: 18px;
}

.icon-flow-design-18:before{
	content: "\e781";
	color: #818183;
	font-size: 18px;
}

.icon-mobile-18:before{
	content: "\e778";
	color: #818183;
	font-size: 18px;
}

.icon-solution-18:before{
	content: "\e779";
	color: #818183;
	font-size: 18px;
}

.icon-grant-18:before{
	content: "\e775";
	color: #818183;
	font-size: 18px;
}

.icon-list-18:before{
	content: "\e77a";
	color: #818183;
	font-size: 18px;
}

.icon-dialog-18:before{
	content: "\e77b";
	color: #818183;
	font-size: 18px;
}
.icon-search-18:before{
	content: "\e68c";
	color: #818183;
	font-size: 18px;
}

.icon-seq-no-18:before{
	content: "\e77c";
	color: #818183;
	font-size: 18px;
}

.icon-book-18:before{
	content: "\e77d";
	color: #818183;
	font-size: 18px;
}

.icon-database-18:before{
	content: "\e77e";
	color: #818183;
	font-size: 18px;
}

.icon-bpm-inst-18:before{
	content: "\e780";
	color: #818183;
	font-size: 18px;
}

.icon-bpm-task-18:before{
	content: "\e783";
	color: #818183;
	font-size: 18px;
}

.icon-form-sol-18:before{
	content: "\e749";
	color: #818183;
	font-size: 18px;
}


/* 流程子系统 */

.icon-Business-solution:before {
	content: "\e61a";
	color: #818183;
	font-size: 18px;
}

.icon-Process-design:before {
	content: "\e638";
	color: #818183;
	font-size: 18px;
}

.icon-Process-LDAP:before {
	content: "\e6f1";
	color: #818183;
	font-size: 18px;
}

.icon-Business-model-Design:before {
	content: "\e639";
	color: #818183;
	font-size: 18px;
}

.icon-Business-form-Design:before {
	content: "\e65c";
	color: #818183;
	font-size: 18px;
}

.icon-Process-instance:before {
	content: "\e698";
	color: #818183;
	font-size: 18px;
}

.icon-need-do:before {
	content: "\e619";
	color: #818183;
	font-size: 18px;
}

.icon-Process-module:before {
	content: "\e611";
	color: #818183;
	font-size: 14px;
}

.icon-task-notice:before {
	content: "\e628";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}
.icon-business-model:before {
	content: "\e639";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-process-auth:before {
	content: "\e775";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

/* add by zyg start 2017-6-9*/

.icon-process-auth:before {
	content: "\e775";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-mobile-form:before {
	content: "\e771";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-form-template:before {
	content: "\e773";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-form-setting:before {
	content: "\e772";
	color: #818183;
	font-size: 18px;
}

.icon-form-metadata:before {
	content: "\e770";
	color: #818183;
	font-size: 18px;
}
/* add by zyg end 2017-6-9*/


/* 知识子系统 */

.icon-Knowledge-management:before {
	content: "\e65a";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-zhishicangku:before {
	content: "\e60a";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}
.icon-warehouse-management:before {
	content: "\e655";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 16px;
/* 	font-weight: 600; */
}

.icon-Knowledge-quiz:before {
	content: "\e6e4";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-Knowledge-quizlist:before {
	content: "\e734";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 16px;
/* 	font-weight: 600; */
}

.icon-expertlist:before {
	content: "\e6f1";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-User-level:before {
	content: "\e6f9";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 16px;
/* 	font-weight: 600; */
}

.icon-map-list:before {
	content: "\e651";
	color: #818183;
	/* padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-homepage:before {
	content: "\e63d";
}


/*一级菜单（公文子系统）*/
.icon-configure:before {
	content: "\e610";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-Get-into:before {
	content: "\e657";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

/*一级菜单（系统配置）*/
.icon-system-management:before {
	content: "\e66a";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-zuzhiguanli:before {
	content: "\ea72";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-topOrg:before{
	content: "\ea72";
	color: #fff;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}



.icon-Organization-management:before {
	content: "\e63a";
	color: #0a7ac6;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-Portal-information:before {
	content: "\e609";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
}

.icon-WeChat-public:before {
	content: "\e60f";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 500; */
}
.icon-window:before { 
	content: "\e823";
	color:#333; 
	font-size:22px;
}

.icon-authorization:before{
	content: "\e72b";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 500; */
}


/*一级菜单（帮助系统）*/
.icon-Basic-framework:before {
	content: "\e685";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 18px;
/* 	font-weight: 600; */
	
}
.icon-skin:before{
	content: "\e769";
	color: #fff;
/* 	padding-right: 6px; */
	font-size: 18px;
/* 	font-weight: 600; */
}
.icon-phone:before { content: "\e7ad"; color: #818183;font-size:18px;font-weight: 600;}
.icon-example:before { content: "\e665";color: #818183;font-size: 16px;font-weight: 600; }
.icon-weixin:before{ 
	content: "\e60f";
	color: #818183;
/* 	padding-right: 8px; */
	font-size: 22px;
/* 	font-weight: 600; */
}


/*-------- 一级菜单导航 end---------- */

input.textbox {
	padding: 2px;
	border: solid 1px #ececec;
	border-radius: 4px;
}

span.icon-button{
	display: block;
	margin-left:4px;
	cursor: pointer;
	float: left;
}


.icon-up:before {
	content: "\e88a";font-size: 15px;
}
.icon-down:before {
	content: "\e88f";font-size: 15px;
}

.icon-left:before {
	content: "\e792";font-size: 15px;
}

.icon-right:before {
	content: "\e795";font-size: 15px;
}

/*tab栏）*/
.icon-detail:before { content: "\e82a";color:#ffa500;} 
.icon-create:before { content: "\e863";color:#5cb85c;font-size: 14px;}
.icon-edit:before { content: "\e866"; color:#47aff9;font-size: 14px;}
.icon-remove:before { content: "\e7f3"; color:red;}
.icon-export:before { content: "\e867";color:#159df0;}
.icon-import:before { content: "\e868";color:#47aff9;}
.icon-refresh:before { content: "\e82d"; color:#47aff9;font-size:16px;}
.icon-add:before { content: "\e863";color:#5cb85c;font-size: 12px;}
.icon-start:before { content: "\e865";color:#5cb85c;font-size: 13px; }
.icon-mgr:before { content: "\e862";color:#378cc6; font-size:18px}
.icon-search:before { content: "\e875"; color:#44cef6; font-size:15px; }
.icon-clear:before { content: "\e876"; color:#333;font-size: 14px; }
.mini-tree-folder:before { content: "\e6a1"; color:#c3ad5d;}
.mini-tree-leaf:before { content: "\e66e"; font-size:14px; color:#666 ;}   /* 10-23 去掉    源于我的附件         !important*/

/*流程定义设计）*/
.icon-flow-design:before { content: "\e872";color:#5cb85c;}
.icon-version:before { content: "\e8a3";color:#378cc6;font-size: 16px;   }
.icon-upload:before{content: "\e879";color:#47aff9;font-size: 13px; }

/*业务表单设计*/
.icon-handle:before { content: "\e71d"; }
.icon-property:before { content: "\e88d";font-size: 14px;color:#5cb85c;}
/* .icon-grant:before{ content: "\e688"; } */  /*11.6--重复*/
.icon-clearbo:before{ content: "\e8d3"; color: #ff461f;}



/*待办任务管理*/
.icon-handle:before { content: "\e7f1"; color:#47aff9;font-size: 20px;   }


/* .icon-cancel:before { content: "\e7ac"; } */ /*11-6 重复*/

/*业务模型设计*/
.icon-unlock:before { content: "\e86e";color:#5cb85c; }
.icon-lock:before { content: "\e8a1"; color:red;font-size: 14px;}


/*流程实例管理*/
.icon-end:before { content: "\e87b";color:#378cc6; }
.icon-suspend:before { content: "\e87a";color:#c3ad5d;  }
.mini-pager-next:before { content: "\e88c";font-size: 15px;color:#5cb85c;}
.mini-pager-prev:before { content: "\e890";font-size: 14px;color:#5cb85c;}
.mini-pager-last:before { content: "\e859";font-size: 12px;  color:#47aff9;}
.mini-pager-first:before { content: "\e8a5";font-size: 12px;  color:#47aff9;}

/*待办任务管理*/
.icon-Relieve-user:before { content: "\e6a2"; color:#5cb85c;font-size: 13px;}
.icon-activate:before { content: "\e865";color:#5cb85c;}
.icon-commute:before { content: "\e877";color:#c37bf1;font-size: 14px;}
.mini-pager-reload:before{ content: "\e8b0";color:#c37bf1;font-size: 14px;}
/*流程模块绑定*/
.icon-save:before { content: "\e858"; color:#f0ad4e;font-size: 12px;margin-top:20px;}
.icon-close:before { content: "\e7f3";margin-right:3px;font-size: 12px;color:red;}
.icon-draft:before { content: "\e740"; color:#5cb85c;font-size: 15px;margin-top:20px;}

/*企业微信*/
.icon-sync-user:before { content: "\e76f";margin-right:3px;font-size: 18px;color:#2f9833; }
.icon-weixin:before { content: "\e76e"; color: #818183;;font-size: 18px;margin-top:20px;}


/*测试-方案配置*/
.icon-prev:before { content: "\e890"; }
.icon-next:before { content: "\e88c"; }
.icon-flow-deploy:before { content: "\e86e";color:#5cb85c; }
.icon-info:before { content: "\e886";color:#378cc6; }
.icon-flow:before { content: "\e88b";color:#c3ad5d; }
.icon-form:before { content: "\e87e";color:#5cb85c; }
.icon-var:before { content: "\e885";color:#999; }
.icon-user:before { content: "\e884";;color:#5cb85c; }
.icon-user-dialog:before { content: "\ec4d";color:#29B4F7; }
.icon-node:before { content: "\e85b";color:#5cb85c; }
.icon-debug:before { content: "\e8f6";color:#378cc6; font-size: 14px;}
.icon-grant:before { content: "\e854";color:#c37bf1; font-size: 18px;}
.icon-flow-white:before { content: "\e6ee";color:#fff; }
.icon-remove-all:before { content: "\e811";color:#378cc6}


/*流程定义设置-流程定义管理明细*/
.icon-download:before { content: "\e8fe";color:#5cb85c; }

/*流程定义设置-流程定义版本管理*/
.icon-main:before { content: "\e891";color:#00e09e; font-size: 14px;}

.icon-addfolder:before { content: "\e863";color:#00e09e;padding-top:5px;}
.icon-collapse:before { content: "\e89b";color:#00e09e;font-size: 13px; }
.icon-expand:before { content: "\e899";color:#00e09e; font-size: 13px; }
.icon-rowbefore:before { content: "\e89d"; color:#378cc6;  font-size: 15px;}
.icon-btn-mgr:before { content: "\e6c0";color:#c37bf1; }
.icon-moveTo:before { content: "\e8a0";color:#378cc6; }
.icon-rowafter:before { content: "\e89c";color:#00e09e; }
.icon-modify-pwd:before { content:"\e7e6";color:#4379ea; font-size:20px;}
.icon-org-set:before { content: "\e843";color:#00e09e; }
.icon-rank:before { content: "\e897";color:#e9d600;font-size: 15px; }
.icon-relation:before { content: "\e898";color:#00e09e; }
.icon-col-news:before { content: "\e6a7";color:#00e09e; }

/*个人办公-我的消息*/
.icon-home:before { content: "\e7d8"; }
.icon-tab:before{content:"\e65c";color:#00e09e;}
.icon-mailUp:before { content: "\e6d8";color:#00e09e; }
.icon-mailDown:before { content: "\e765";color:#00e09e; }
.icon-group:before { content: "\e893";color:#00e09e; }
.icon-group-dialog:before { content: "\e8fd";color:#0080ff; }
.icon-reload:before { content: "\e660";color:#00e09e;}

/*个人办公-我接收的代办事项*/
.icon-transfer:before { content: "\e89f";color:#00e09e; }

/*公文子系统_接收公文*/
.icon-move:before { content: "\e657";color:#00e09e; font-size: 14px;}
.icon-folder:before { content: "\e680";color:#00e09e; font-size:18px;}
.icon-copyAdd:before { content: "\e89e";color:#378cc6; font-size: 16px;}
.icon-writemail:before { content: "\e878";color:#00e09e; }
.icon-trash:before { content: "\e65d";color:red;}
.icon-transmit:before { content: "\e6ca";color:#00e09e; }
.icon-preview:before { content: "\e87e";color:#00e09e; font-size: 16px; }
.icon-dimension:before { content: "\e744";color:#00e09e; }
.icon-relation:before { content: "\e898";color:#999;font-size: 16px; }
.icon-account:before { content: "\e6ce";color:#00e09e; }
.icon-window2:before { content: "\ed33";color:#00e09e; }
.icon-receive:before { content: "\e6a7";color:#00e09e; }
.icon-sender:before { content: "\e6a7";color:#00e09e; }
.icon-init:before { content: "\e68e";color:#00e09e; }
.icon-agree:before { content: "\e6df";color:#00e09e;font-size: 14px;}
.icon-abstain:before { content: "\e6ce";color:#00e09e;font-size:18px}
.icon-to-receive:before { content: "\e69a";color:#5cb85c;}
.icon-ok:before { content: "\e69a";color:#5cb85c; font-size: 14px;}
.icon-cancel:before { content: "\e8f5";color:red; font-size: 20px;}
.icon-showTrace:before { content: "\e673";color:red; font-size: 13px;}
.icon-hideTrace:before { content: "\e673";color:red; font-size: 13px;}
.icon-bpm-draft:before { content: "\e891";color:#5cb85c; font-size: 16px;}
.icon-endEvent:before { content: "\e662";color:red; font-size: 14px;}
.icon-addMsgPerson:before { content: "\e896";color:#5cb85c;; font-size: 20px;}
.icon-parameter:before { content: "\e87f";color:#5cb85c; font-size: 20px;}
.icon-reportView:before { content: "\e87e";color:#5cb85c; font-size: 20px;}
.icon-readedMsg:before { content: "\e6d8";color:#5cb85c; font-size: 16px;}
.icon-fullscreen:before  { content: "\e673";color:red; font-size: 13px;}
.icon-newMsg:before  { content: "\e6ea";color:#c3ad5d; font-size: 18px;}
.icon-attachAdd:before  { content: "\e6d1";color:#5cb85c; font-size: 18px;}
.icon-check:before  { content: "\e81b";color:#5cb85c; font-size: 14px;}
.icon-uncheck:before  { content: "\e81a";color:#5cb85c; font-size: 14px;}
.icon-leader:before  { content: "\e8f7";color:#5cb85c; font-size: 16px;}
.icon-center:before  { content: "\e690";color:#5cb85c; font-size: 16px;}
.icon-calendar:before  { content: "\e8f8";color:#378cc6; font-size: 14px;}
.icon-emailAdd:before  { content: "\e660";color:#5cb85c; font-size: 16px;}
.icon-goto:before  { content: "\e6ec";color:#5cb85c; font-size: 16px;}

.icon-fullscreen:before  { content: "\e787";color:#5cb85c; font-size: 16px;}
.icon-downgrade:before  { content: "\e727";color:#999; font-size: 14px;}
.icon-baobiao-export:before { content: "\e6ca";color:#378cc6; font-size: 16px;}
.icon-setting:before{content:"\e8d5";color:#29b4f7;}
.mini-buttonedit-icon{
	font-family: "iconfont" !important;
	font-style: normal;
	font-size: 14px;
	line-height:18px;

}
/* .mini-buttonedit-icon:before  { content: "\e6f6";color:#378cc6; font-size: 12px;font-weight:bold;} */
.icon-help:before  { content: "\e600";color:#378cc6; font-size: 14px;}
.icon-printer:before  { content: "\e6f7";color:#378cc6; font-size: 14px;}
.icon-report:before  { content: "\e70b";color:#5cb85c; font-size: 14px;}
.icon-pdf:before  { content: "\e8d1";color:#ff461f;}
.icon-doc:before  { content: "\e704";font-size: 18px;}
.icon-excel:before  { content: "\e702"; font-size: 14px;}
.icon-addMsgGroup:before  { content: "\e895"; font-size: 20px;color:#5cb85c;}
.icon-sendMsg:before  { content: "\e67d"; font-size: 14px;color:#5cb85c;}
.icon-Reset:before  { content: "\e660"; font-size: 14px;color:#ccc;}
.icon-move-in:before  { content: "\e657"; font-size: 14px;color:#5cb85c;}
.icon-read:before  { content: "\e8ff"; font-size: 14px;color:#5cb85c;}
.icon-hide:before  { content: "\e900"; font-size: 16px;color:#ccc;}
.icon-copydown:before  { content: "\e718"; font-size: 14px;color:#5cb85c;}
.icon-copyup:before  { content: "\e71b"; font-size: 14px;color:#378cc6;}
.icon-select:before  { content: "\e7e9"; font-size: 14px;color:#c3ad5d;}
.icon-grant-in:before  { content: "\e688"; font-size: 14px;color:#378cc6;}
.icon-edit-in:before  { content: "\e66a"; color:#378cc6;}
.icon-mailconnect:before  { content: "\e6af"; font-size: 12px;color:#5cb85c;}
.icon-send:before  { content: "\e6df"; font-size: 12px;color:#5cb85c;}
.mini-button-ok:before  { content: "\e6df"; font-size: 12px;color:#5cb85c;}
.icon-print:before  { content: "\e6f7"; font-size: 14px;color:#999;}
.icon-script:before  { content: "\e8a4"; font-size: 14px;color:#5cb85c;}
.icon-zoomin:before  { content: "\e6e5"; font-size: 14px;color:#5cb85c;}

.icon-tabGrant:before  { content: "\e725"; font-size: 14px;color:red;}
.icon-no:before  { content: "\e728"; font-size: 12px;color:red;}
.icon-timeinput:before  { content: "\e74d"; font-size: 15px;color:#5cb85c;}
.icon-selectAll:before  { content: "\e72a"; font-size: 14px;color:#5cb85c;}
.icon-archives:before  { content: "\e709"; font-size: 14px;color:#c3ad5d;}
.icon-copy:before  { content: "\e887"; font-size: 14px;color:#c3ad5d;}
.icon-startEvent:before  { content: "\e8c7"; color:#5cb85c;}
.icon-dataStructure:before{ content: "\e8d4"; font-size: 16px;color:#4ec0f8;}
.icon-associationForm:before{ content: "\e8d8"; font-size: 12px;color:#00e079;}
.icon-formAdd:before  { content: "\e892"; font-size: 14px;color:#5cb85c;}
.icon-debug-white:before { content: "\e6af";color:#fff; font-size: 14px;}
.icon-boSet:before { content: "\e872";color:#378cc6; font-size: 14px;}
.icon-add_newStyle:before { content: "\e7d7";color:#5cb85c; font-size: 14px;}
.icon-monitor:before { content: "\e75c";color:#c3ad5d; font-size: 14px;}
.icon-eventScript:before { content: "\e757";color:#999; font-size: 14px;}
.icon-nodeReminder:before { content: "\e75b";color:#5cb85c; font-size: 14px;}
.icon-uploadPublic:before { content: "\e760";color:#5cb85c; font-size: 14px;}
.icon-File:before { content: "\e87c";color:#ffb61e; font-size: 14px;}
.icon-meeting:before{ content: "\e87d";color:#5cb85c; font-size: 16px;}
.icon-sendOut:before{ content: "\e766";color:#5cb85c; font-size: 12px;}
.icon-sendedOut:before{ content: "\e6d8";color:#5cb85c; font-size: 16px;}
.icon-empty:before{ content: "\e767";color:#888; font-size: 20px;}
.icon-script-white:before { content: "\e746";color:#fff; font-size: 14px;}
.icon-release:before { content: "\e6df";color:#378cc6; font-size: 14px;}
.icon-release{margin-left:6px;}
.icon-Logmsg:before { content: "\e65c";color:#378cc6; font-size: 14px;}
.icon-See:before { content: "\e6e7";color:#888; font-size: 14px;}
.icon-task:before { content: "\e619";color:#378cc6; font-size: 14px;}
.icon-mail:before { content: "\e719";color:#5cb85c; font-size: 14px;}
.icon-document:before { content: "\e665";color:#378cc6; font-size: 12px;}




.icon-create,.icon-edit,.icon-detail,.icon-remove,.icon-export,.icon-import,.icon-refresh,.icon-upload,.icon-search,.icon-clear,.icon-unlock,.icon-lock,.icon-end
,.icon-suspend,.icon-activate,.icon-ch-user,.icon-Relieve-user,.icon-commute,.icon-sav,.icon-mgr,.icon-prev,.icon-next,.icon-flow-deploy,.icon-info,.icon-flow,.icon-form
,.icon-var,.icon-user,.icon-debug,.icon-grant,.icon-download,.icon-rowbefore,.icon-rowafter,.icon-btn-mgr,.icon-home,.icon-mailUp,.icon-mailDown,.icon-reload,.icon-group
,.icon-transfer,.icon-move,.icon-trash,.icon-writemail,.icon-transmit,.icon-flow-design,.icon-preview,.icon-start,.icon-dimension,.icon-relation,.icon-account,.icon-rank
,.icon-window2,.icon-copyAdd,.icon-draft,.icon-sender,.icon-receive,.icon-window,.icon-agree,.icon-abstain,.icon-property,.icon-handle,.icon-bpm-draft,.icon-endEvent
,.icon-addMsgPerson,.icon-readedMsg,.icon-fullscreen,.icon-modify-pwd,.icon-setting,.icon-ok,.icon-close,.icon-help,.icon-printer,.icon-report
,.icon-pdf,.icon-doc,.icon-excel,.icon-attachAdd,.icon-addMsgGroup,.icon-sendMsg,.icon-read,.icon-hide,.icon-copydown,.icon-copyup,.icon-select,.icon-mailconnect,.icon-send
,.icon-script,.icon-cancel,.icon-add,.icon-timeinput,.icon-archives,.icon-startEvent,.icon-add_newStyle,.icon-monitor
{
	background:none !important
}

.mini-tree-icon::before{
	color:#666;
}

/*-----控件按钮 start---------*/
.icon-user-button  .mini-buttonedit-icon,.icon-group-button .mini-buttonedit-icon
,.icon-dep-button .mini-buttonedit-icon{
	background:none !important;
}

.icon-html:before{
	content: "\e8d7";
	color:#00e09e; 
	font-size: 16px;
}


.icon-user-button .mini-buttonedit-icon:before {
	content: "\ec4d";color:#5cb85c; font-size: 16px;
	
}

.icon-group-button .mini-buttonedit-icon:before {
	content: "\e777";color:orange; font-size: 16px;
}

.icon-dep-button .mini-buttonedit-icon:before {
	content: "\e853";color:#6b0eb1; font-size: 14px;
}

/*-----控件按钮  end---------*/

.icon-groups {
	background: url(icons/groups.png) no-repeat;
}

.icon-department {
	background: url(icons/department.png) no-repeat 20px;
}

.icon-calendar {
/* 	background: url(icons/calendar.png) no-repeat 20px; */
}

.icon-method:before {
	content: "\e746";
	font-size: 16px;
	color:#666;
}
.icon-libary:before{
	content: "\e639";
	color: #818183;
	font-size: 16px;
}

.icon-report:before {content: "\e81f";font-size: 22px;color: #707070;float:left}
.icon-dic:before {content: "\e81c";font-size: 22px;color: #707070;float:left}
.icon-dingshi:before {content: "\e822";font-size: 22px;color: #707070;float:left}
.icon-rili1:before {content: "\e821";font-size: 22px;color: #707070;float:left}
.icon-wendang2:before {content: "\e820";font-size: 22px;color: #707070;float:left}
.icon-subsys:before {content: "\e823";font-size: 22px;color: #707070;float:left}

.icon-tool:before{
	content: "\e73c";
	color: #818183;
	font-size: 16px;
}


.icon_disabled:before { color:gray;font-size: 12px;}



.icon-gongdan01:before {
	content: "\e798";
	font-size: 22px;
	color: #ffa400;
	float:left;
}

.icon-xiaoxi01:before {
	content: "\e79a";
	font-size: 18px;
	color: #58d8f8;
	float:left;
}

.icon-caogao01:before {
	content: "\e79b";
	font-size: 18px;
	color: #fa8c35;
	float:left;
}

.icon-youxiang01:before {
	content: "\e797";
	font-size: 18px;
	color: #ff8c31;
	float:left;
}
/*改版新icon*/
/*改版新icon*/
/*改版新icon*/

	/*一级菜单*/

	
.icon-gongzuotai:before {content: "\e7d8";color: #58d8f8;}
	
.icon-gerenshezhi:before {content: "\e7d9";color: #58d8f8;}
	
.icon-renwugenzong:before {content: "\e7da";color: #2edfa3;}

.icon-gongdanguanli:before {content: "\e7be";color: #ff8c31;}

.icon-zuzhigaunli:before {content: "\e79f";color: #707070;}

.icon-liuchenggaunli:before {content: "\e7a0";color: #707070;}

.icon-xitongpeizhi:before {content: "\e7b1";color: #707070;}

.icon-jichushuju:before {content: "\e7a2";color: #707070;}

	/*二级菜单*/
		/*工单办理*/
.icon-xinzengshenqing:before {content: "\e7dc";color: #707070;}	
		
.icon-shixiang:before {content: "\e79c";color: #707070;}

.icon-chaosonggongdan:before {content: "\e7b3";color: #707070;}

.icon-gongdancaogao:before {content: "\e7cd";color: #707070;}

.icon-wodexiaoxi:before {content: "\e79a";color: #707070;}

.icon-liuchengdaili:before {content: "\e7a1";color: #707070;}

.icon-jieshoudaiban:before {content: "\e7d6";color: #707070;}

.icon-zhuanjiaodaiban:before {content: "\e7d3";color: #707070;}

.icon-liuchengshixiang:before {content: "\e7d5";color: #707070;}

.icon-faqiliuc:before {content: "\e79d";color: #707070;}

.icon-shenpiliucheng:before {content: "\e7a8";color: #707070;}

.icon-youxinagguanli:before {content: "\e797";color: #707070;}

.icon-subordinate:before {content: "\e8f2";color: #ccc;}

		/*工单管理*/
.icon-yewukaitongliebiao:before {content: "\e7cf";color: #707070;}

.icon-kanchadanliebiao:before {content: "\e7a9";color: #707070;}

		/*组织管理*/
.icon-zuzhiweidu:before {content: "\e7c5";color: #707070;}

.icon-yonghuguanli:before {content: "\e7bf";color: #707070;}

.icon-zhanghaoguanli:before {content: "\e7ce";color: #707070;}

.icon-yonghuzhanghao:before {content: "\e7c1";color: #707070;}

.icon-zuzhiguanxi:before {content: "\e7ae";color: #707070;}

.icon-zuzhizongheguanli:before {content: "\e79e";color: #707070;}

.icon-liuchengrukou:before {content: "\e7ba";color: #707070;}

.icon-sehzhipeizhi:before {content: "\e7c7";color: #707070;}

.icon-jiejuefangan:before {content: "\e7a3";color: #707070;}

.icon-liuchengshili:before {content: "\e7d2";color: #707070;}

.icon-daibanrenwu:before {content: "\e889";color: #707070;}

.icon-shoujibiaodna:before {content: "\e7b0";color: #707070;}

.icon-renyuanjiaoben:before {content: "\e7c4";color: #707070;}

.icon-biaodanfangan:before {content: "\e7bd";color: #707070;}

.icon-zidingyiduihuakuang:before {content: "\e7a7";color: #707070;}

.icon-ziingyiliebiao:before {content: "\e7c8";color: #707070;}

.icon-xitongguanli02:before {content: "\e7ab";color: #707070;}

.icon-menhuguanli:before {content: "\e7af";color: #707070;}

.icon-weixingongzhonghao:before {content: "\e7cb";color: #707070;}

.icon-qiyeweixn:before {content: "\e7cc";color: #707070;}

.icon-LDAPguanli:before {content: "\e7c2";color: #707070;}

.icon-jituankehu:before {content: "\e7b4";color: #707070;}

.icon-louyuguanli:before {content: "\e7a6";color: #707070;}

.icon-jigouleixingguanli:before {content: "\e7c6";color: #707070;}

.icon-jigouleixing:before {content: "\e7d1";color: #707070;}




.icon-wodeshenqing:before {content: "\e7dd";color: #707070;}

.icon-wodechuli:before {content: "\e7e0";color: #707070;}

.icon-wodeyuedu:before {content: "\e7e1";color: #707070;}

.icon-wodeweituo:before {content: "\e7de";color: #707070;}

.icon-quanbuliucheng:before {content: "\e7e5";color: #707070;}

.icon-gerenxingxin:before {content: "\e7e4";color: #707070;}

.icon-xiugaimima:before {content: "\e7e3";color: #707070;}

.icon-changjianyijian:before {content: "\e7e7";color: #707070;}

.icon-waichudaili:before {content: "\e7e8";color: #707070;}


/*topIcon*/

.icon-Personal:before {content: "\e7ff";color: #707070;}

.icon-News:before {content: "\e801";color: #707070;}

.icon-Mailbox:before {content: "\e800";color: #707070;}

.icon-Maximization:before {content: "\e7fd";color: #707070;}

.icon-Minimize:before {content: "\e7fe";color: #707070;}

.icon-SignOut:before {content: "\e7fc";color: #707070;}





/*首页消息盒图标*/
.icon-jigou:before {content: "\e7c6";color: #FF8C31;}
.icon-zhaobiao:before {content: "\e804";color: #efb336;}
.icon-icon-:before {content: "\e806";color: #f3ca7e;}
.icon-jingbiaozhong:before {content: "\e808";color: #efb336;}
.icon-project-bid:before {content: "\e807";color: #FF8C31;}



/*微信公众号*/
.icon-publicEdit:before {content: "\e80b";color: #707070;}

.icon-fansAD:before {content: "\e80a";color: #707070;}

.icon-materialAD:before {content: "\e804";color: #707070;}

.icon-articleAD:before {content: "\e805";color: #707070;}

.icon-link:before {content: "\e86a";color: #707070;}

.icon-card:before {content: "\e807";color: #707070;}

.icon-VIP:before {content: "\e808";color: #707070;}

.icon-storeAD:before {content: "\e809";color: #ffa400;}

.icon-More:before {content: "\e806";color: #707070;}


/*邮件*/

.icon-readedMail:before {content: "\e80c";color: #818183;}
.icon-normal:before {content: "\e810";color:#bce672}
.icon-important:before {content: "\e80f";color:#ffa400}
.icon-veryImportant:before {content: "\e80e";color:#f00056}


/*首页图标*/
.icon-index_icon:before {content: "\e81e";color:#f6829f}
.icon-success:before {content: "\e880";color:#50da54}
/*消息盒子*/
.icon-card_Modular:before {content: "\e842";color:#f6829f}
.icon-card_Integrate:before {content: "\e837";color:#58d8f8}
.icon-card_DAS:before {content: "\e83b";color:#b59ae1}
.icon-card_engine:before {content: "\e840";color:#fac256}
.icon-card_form_edit:before {content: "\e83a";color:#0daaf6}
.icon-card_Dept:before {content: "\e835";color:#0daaf6}
.icon-card_pen:before {content: "\e83e";color:#f83b3b}
.icon-card_reporting:before {content: "\e834";color:#75ed77}

.icon-card_data:before {content: "\e844";color:#f6829f}
.icon-card_framework:before {content: "\e843";color:#58d8f8}
.icon-card_cloud:before {content: "\e841";color:#b59ae1}
.icon-card_survey:before {content: "\e83f";color:#fac256}
.icon-card_editor:before {content: "\e83d";color:#0daaf6}
.icon-card_commodity:before {content: "\e83c";color:#0daaf6}
.icon-card_agent:before {content: "\e839";color:#f83b3b}
.icon-card_message:before {content: "\e838";color:#75ed77}
.icon-card_agency:before {content: "\e836";color:#f6829f}
.icon-card_news:before {content: "\e833";color:#58d8f8}


.icon-essence:before{content: "\e8a8";color:#2edfa3}
.icon-pictureDelete:before{content: "\e8ca";color:#ff461f}
.icon-notEssence:before{content:"\e8cb";color:#ff461f}
.icon-pictureAdd:before{content: "\e8aa";color:#2edfa3}
.icon-lower:before{content: "\e8ce";color:#666}
.icon-wxClose:before{content: '\e672';}
.icon-sc-lower:before{content: '\e713';}

.icon-readonly:before{content: '\e8f9';}
.icon-require:before{content: '\e8fa';}
.icon-hidden:before{content: '\e8fb';}
.icon-tips-Close:before{content: '\e8fc';}

.icon-dep:before {
	content: "\e853";color:#6b0eb1;
}

.size-18:before{
	font-size: 18px;
}
