@charset "utf-8";
/* CSS Document */
/*重置样式*/
body,h1,p,dl,dd{margin: 0}
h1,h2,h3,h4,h5{margin:0;font-size:16px;font-weight:normal;}
ul{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;outline:none;}
input{margin:0;padding:0;border:none;background-color:transparent;outline:none;}
img{border:none;}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill{ 
     -webkit-box-shadow: 0 0 0px 1000px rgb(248, 249, 251) inset;
     color: #666;
}


/*通用*/
.clearfix{clear: both;}
*{font-family: "微软雅黑",arial}

body{
	overflow: hidden;
	background:url(./images/login/bg.png) no-repeat center center #fff;
}

/*content*/
.content_bg{
	width: 1100px;
	margin: 200px auto 0 auto;
	
}

.content_l{
	display:block;
	float: left;
	position: relative;
}

.content_l span{
	display:block;
	margin: 0 0 70px 0px;
	position: relative;
	top: -60px;
}

.content_l span img{
	width:440px;
	margin:0 auto;
}

.content_l span p{
	color: #808080;
	text-align:center;
	font-size: 16px;
	line-height: 30px;
}


.content_l>img{
	float: left;
	transition:all 1s
}

.icon00{
	margin-left:120px;
}

.icon01{
	position: absolute;
	top: 70px;
	left: -20px;
}

.icon02{
	position: absolute;
	top: 70px;
	right: -20px;
}

.icon03{
	position: absolute;
	top: 230px;
	left: -124px;
}

.icon04{
	position: absolute;
	top: 230px;
	right: -124px;
}

.icon05{
	position: absolute;
	top: 452px;
	left: -20px
}

.icon06{
	position: absolute;
	top: 452px;
	right: -20px
}


/*
.icon01:hover,.icon02:hover,.icon03:hover,.icon04:hover,.icon05:hover,.icon06:hover{
	transform:rotate(720deg)
}
*/





.content_r{
	float: right;
	width: 310px;
	padding: 50px 35px 12px 35px;
	border-radius: 6px;
	background-color: rgb(248, 249, 251);
	box-shadow: 0px 14px 40px 0px rgba(112, 117, 120, 0.26);
	position: relative;
	z-index: 1;
}


.content_r>div{
	width: 100%;
}

.content_r>div img{
	float: left;
	
}

.content_r>div p{
	text-align: center;
/* 	margin: 9px 0 0 12px; */
	font-size: 20px;
	color: #808080;
	line-height: 26px;
}

.content_r dl{
	width: 100%;
	margin: 41px 0 0 0;
}

.content_r dd{
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 3px;
}

.content_r dl img{
	float: left;
	
} 

.content_r dl input{
	width: 269px;
	font-size: 16px;
	color: #999;
	margin: 9px 0 0 0;
}

.content_r span{
	display: block;
	width: 100%;
	margin-bottom:30px
}

.content_r span input{
	float: left;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	margin: 0 8px 0 8px ;
}

.content_r span h1{
	color: #999;
	float: left;
	font-size: 12px;
}

.content_r span h2{
	color: #1f7eff;
	float: right;
	font-size: 12px;
	cursor: pointer;
	
}

.content_r p{
	
}

.content_r p input{
	width: 134px;
	height: 45px;
	font-size: 20px;
	color: #fff;
	margin: 18px 0 0 0;
	cursor: pointer;
	box-shadow: 0px 3px 9px 0px rgba(112, 117, 120, 0.26);	
}

select{
	height: 27PX;
	cursor: pointer;
	margin-left: 2px;
	background-color:transparent;
	position: relative;
	z-index: 1;
	top: -20px;
	background: transparent;
	outline: none;
	left: 20px;
}
	
#input1{
	_height: 20px;
	*height: 13px;
	border: none;
	position: relative;
	z-index: 10;
	background: #f8f9fb;
}


.cssINPUT{
	height: 19PX;
    padding: 3PX;
    padding-left: 3px;
    padding-right: 0px;
    margin: 0PX;
    border: 1PX solid #c0c0c0;
    font-size: 9pt;
}

.Login{
	float: left;
	background: #1f7eff;
	border-radius: 8px;
}

.chongzhi{
	float: right;
	background: #f33535;
	border-radius: 8px;
}

.content_r h4{
	font-size: 12px;
	color:#9f9fa0;
	text-align: center;
	line-height: 30px;
	margin-top: 40px
}

.content_r h4 a{
	font-size: 12px;
	color: #1f7eff;
}

.footer_bg{
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer_bg p{
	text-align: center;
	font-size: 14px;
	color: #808080;
	line-height: 40px;
}

.footer_bg p a{
	color:#1f7eff;
}

.loadingBox{
	display:none;
	position:absolute;
	top:0;
	left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    background:#fff \9;
    z-index: 99;
}

.mini-mask-loading{	
    color: #666;
    background:#fff url(../scripts/mini/miniui/themes/default/images/grid/loading1.gif) no-repeat center center;
	z-index: 3;
	width: 360px;
	height:200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -216px;
	border-radius: 12px;
}

.mini-mask-loading span{
    font-size: 16px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 100%;
	line-height: 20px;
	white-space:nowrap;
	text-align: center;
}

@media screen and (max-width: 1070px) {
	.content_bg{
		width: 100%;
	}
	
	.content_l{
		display: none;
	}
	.content_r{
		float: none;
		margin: 0 auto;
		position: relative;
		z-index: 98;
	}
}

