@font-face {
	font-family: 'iconfont';
	src: url('../../../styles/font/iconfont.eot');
	src: url('../../../styles/font/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../../../styles/font/iconfont.woff') format('woff'), url('../../../styles/font/iconfont.ttf')
		format('truetype'), url('../../../styles/font/iconfont.svg#iconfont') format('svg');
}

*{
	font-family: '微软雅黑' !important;
	font-weight: normal;
}
*::before{font-weight: normal;}
*::-webkit-scrollbar {width: 8px;height: 8px;}
*::-webkit-scrollbar-thumb {border-radius: 4px;background: #d4d5d9;}
*::-webkit-scrollbar-track {background: #b3b3b3;border-radius: 4px;}
*::-webkit-scrollbar-corner {background:#fff;}

body{
	background: #f8f8f8
}


.table-form{
	border: 1px solid #F0F0F0;
	margin: 2px auto;
	width: 99.6%;
}

.caption{
	font-weight:bold;
	background-color:#F0F0F0;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	text-align: left;
}

div.caption{
	font-weight:bold;
	background-color:#F0F0F0;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	text-align: left;
	margin: 0 auto;
	width: 99.6%;
}

.form-title {
	word-break: break-all;
/* 	width: 30%; */
	height:100%;
	text-align: right;
	font-size: 14px;
/* 	padding-right: 5px; */
/* 	background-color:#F9F9F9; */
/* 	border: 1px solid #F0F0F0; */
}

.form-input {
	word-break: break-all;
	text-align: left;
	font-size: 14px;
/* 	padding-left: 5px; */
/* 	border: 1px solid #FAFAFA; */
}


.divcontent{
	width:100%;
	height: calc(100% - 50px);
	overflow: auto;
}


body>.div-form{
	width:344px;
	margin: 0 auto;
	background-color: #f5f5f5;
	background: url("images/mobile/body.png") repeat-y center;
	background-size:100% auto;
	padding: 0 15px;
}

body>.div-form:nth-of-type(1){
	background: url("images/mobile/top.png") no-repeat top;
	padding:76px 15px 0 15px;
	background-size:100% auto;
}

body>.div-form:last-of-type{
	background: url("images/mobile/bottom.png") no-repeat bottom;
	padding:0 15px 90px 15px;
	background-size:100% auto;
}


body>.div-form:only-of-type{
	background:none;
}



.div-form > .toolbar{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background-color: #fff;
}

.div-form > .toolbar > .button{
	font-size: 14px;
	
}

.div-form > .toolbar > .button::before{
	font-family: "iconfont" !important;
	font-size: 14px;
	padding-right: 4px;
	color:rgb(116, 110, 110);
}

.div-form > .toolbar > .add::before{
	content: "\e6a7";
}



.div-form > .caption{
	height: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
	font-weight:normal;
    color: #333;
}

.div-form > .form-container{
	position: relative;
	background-color: #fff;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
/* 	padding-left: 6px; */
	box-sizing: border-box;
}

.div-form > .form-container::after{
	content: '';
	display: none;
	clear: both;
}

.div-form > .form-container > .btnDel{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 25px;
	width: 25px;
}

.form-container .emptyData{
	height: 40px;
	line-height:40px;
	text-align:center;
	font-size:16px;
	color:red;
	background-color: #fff;
}

.div-form > .form-container >.btnDel::before{
	font-family: "iconfont" !important;
	content: "\e811";
	font-size: 22px;
	color:rgb(116, 110, 110);
}


.div-form > .form-container>.form{
/* 	display: flex; */
/* 	border-bottom: 1px dashed #ccc; */
	min-height:30px;
	line-height:30px;
	float: left;
	width: 100%;
}

.div-form > .form-container>.form > .form-title{
	width: 100%;
	text-align:left;
	float: left;
	box-sizing: border-box;
    padding: 6px 0 0 0;
    text-indent: 4px;
}


.div-form > .form-container>.form > .form-input{
	float:left;
	text-align:left;
	width: 100%;
	height: 30px;
	padding: 0 4px;
	box-sizing: border-box;
/* 	padding-left:5px; */
/* 	line-height:30px; */
/* 	flex:1; */
}

.div-form > .form-container>.form > .form-input > *{
	border: 1px solid #ececec;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

.div-form > .form-container>.form > .form-input >div{
	height: 100%;
	width:100%;
}

.table-container{
	width: 100%;
	overflow-x:auto;
	overflow-y:hidden;
/* 	padding-bottom: 4px;   */
}

.table-container table{
	margin: 0;
}

.rx-dialog{
	display: none;
}

.table-detail{
	width: 100%;
}

.table-detail th{
	width: 150px;
}

.div-form >.form-container>.form{
	margin-top: 8px;
}


.div-form > .form-containerrow>.form>.form-title{
	width: 100px;
	padding-top: 0;
}

.div-form > .form-containerrow>.form>.form-input{
	width: calc(100% - 100px);
	width: 236px \9;
}


