.maincolor{background: #378cc6;}
.sidecolor{background: #2f4051;}
.sidemenucolor{background: #293847;}


/*basecss*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,object{border:0 none;}
img{-ms-interpolation-mode: bicubic;}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;color: #333;*font-size:100%;vertical-align: middle;}
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.vm{vertical-align: middle;}
.rel{position:relative;}
.abs{position:absolute;}
.none{display:none;}
.center{margin: auto;}
em{ font-style: normal;}

body{ font-family: Microsoft yahei; width: 100%; height:100%; overflow: hidden; font-size: 12px;}

.nav{width: 100%; height: 45px;}
.nav ul{width: 600px; height: 45px; margin: 0px auto;}
.nav ul li{ line-height: 35px; height: 35px; color: #fff; font-size: 16px;float: left; margin:5px 30px 0px;}
.nav ul li.active{ border-bottom: 2px solid #fff;}

.container{width: 100%; height: auto; overflow: hidden;}
.container .side{ width: 239px; height: 100%; overflow: visible;float: left; border-right: 1px solid #d1d1d1;}
.container .side .menu{width: 100%; height: auto; overflow:visible; margin-top: 40px;}
.container .side .menu>div{ width: 100%; height: 40px; line-height: 40px; font-size: 16px; background: url("../images/knowl/arrow3.png") no-repeat 220px center; position: relative;}
.container .side .menu>div:hover{ background:url("../images/knowl/arrow4.png") no-repeat 220px center #f8f8f8; cursor: pointer;}
.container .side .menu>div.active{ background:url("../images/knowl/arrow4.png") no-repeat 220px center #f8f8f8;}
.container .side .menu>div:hover{background:url("../images/knowl/arrow4.png") no-repeat 220px center #f8f8f8;}
.container .side .menu>div.active p{ width: 101%; height: 40px;background:url("../images/knowl/arrow4.png") no-repeat 220px center #f8f8f8; position: relative; z-index: 99999;}
.container .side .menu>div.active .secondmenu{display: block;}
.container .side .menu>div img{ float: left; margin: 10px 10px 0px 30px;}
.container .side .menu .secondmenu{ position: absolute; left: 100%; top: -1px; display: none; width: 500px; height: auto; overflow: hidden; padding-bottom: 10px;  background: #f8f8f8; border: 1px solid #d1d1d1; z-index: 9999;}
.container .side .menu .secondmenu .cate{ text-indent:20px;}
.container .side .menu .secondmenu ul{ width: 480px; height: auto; overflow: hidden;  margin-left: 10px;}
.container .side .menu .secondmenu ul li{ float: left; margin: 0px 10px; line-height: 25px; font-size: 14px; color: #378cc6;}
.container .side .linkbtn{width:100%; height: auto; overflow: hidden; margin-top: 20px;}
.container .side .linkbtn a{width: 44%; height: 35px; display: block; border: 1px solid #47aff9; border-radius: 3px; text-decoration: none; line-height: 35px; text-indent: 35px; color: #333;}
.container .side .linkbtn a.fl{ margin-left: 2%; background: url("../images/knowl/aa.png") no-repeat 10px center;}
.container .side .linkbtn a.fr{ margin-right: 2%; background: url("../images/knowl/aa.png") no-repeat -118px center;}
/*ÅÅÃû*/
.container .side .rank{width: 100%; height: auto; overflow: hidden; margin-top: 50px;}
.container .side .rank ul{width: 100%;  overflow: hidden; height: 40px; border: 1px solid #d1d1d1; border-width: 1px 0px;}
.container .side .rank ul li{float: left; font-size: 14px; line-height: 37px; margin-left: 20px; padding: 0px 5px; cursor: pointer;}
.container .side .rank ul li.active{ border-bottom: 3px solid #47aff9; color: #47aff9;}
.container .side .rank .wrap{width: 96%; height: auto; overflow: hidden;  margin: 10px auto 0px;}
.container .side .rank .wrap table{width: 100%; height: auto; overflow: hidden; text-align: center; display: none;}
.container .side .rank .wrap table thead tr{height: 30px; background: #f8f8f8;}
.container .side .rank .wrap table tbody tr{ height: 40px; border-bottom: 1px solid #d1d1d1;}



.container .main{float: left; height: 100%; overflow-y: auto;}

.banner{width:95%;height:280px; overflow: hidden; margin:30px auto;background:#FFF;border:#eeeeee  thin solid; position: relative;}
.banner .bannertip{position: absolute; bottom: 0px; left: 0px; height: 30px; width: 100%;}
.banner .bannertip .bannerbg{ width: 100%; height: 30px; background: #000;filter:Alpha(Opacity=40);/*IE*/opacity:0.4; position: absolute; left: 0px; top: 0px;}
.banner .bannertip .wenzi{ line-height: 30px; z-index: 2; position: relative; color: #fff;}
.banner .bannertip .silder{ width: 100px; height: auto; overflow: hidden;position: relative; z-index: 2;float:right;}
.banner .bannertip .silder>div{width: 18px; height: 18px; border-radius: 50%; background: #a9aba7; float: left; margin-top: 7px; margin-right:5px;}
.banner .bannertip .silder>div.active{ background: #199bf8;}
.banner>ul>li{display: none;}
.banner .bannertip p{ display: none; text-indent: 20px;}



.daohang{width:98%;height:auto;overflow:hidden;border-bottom:#ececec thin solid;margin:0px auto;}
.market-title li:hover {color: #199bf8;border-bottom: 2px solid #199bf8;}
.market-title li:visited{ color: #199bf8;border-bottom: 2px solid #199bf8;font-weight:700;}
.market-title .first {color: #199bf8;border-bottom: 2px solid #199bf8;}
.module-title .first {color: #199bf8;font-weight: 700;}
.market-title li {border: 0;}
.market-title li {padding: 3px;font-size: 14px;}
.module-title li {height: 15px;padding:15px;line-height: 17px;float: left;cursor: pointer;margin-right:20px;}
ul, ol, li {list-style: none;}
.more{display:block;float:right; width: 40px; height: 15px;margin-top:16px;;padding-left:10px; background: url("../images/index/contenticon.png") no-repeat 0px -95px;}


.list .list-mian a{text-decoration:none;color:#7BBDFA;}
.list-mian{float:left; display: none;}

.list ul {width: 96%;height: auto;margin: 10px 20px 20px 20px;}
.list ul li {width: 100%; height: 24px;    line-height: 24px;margin:15px auto;}

.list-mian p{width: 60%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;margin: 5px 0px; }
em{width:90px;height:auto;margin-left:5px;margin-right:5%;font-style: normal;color:#92c7fb;border-right:2px solid #f5f5f5;}
.fl {float: left;}
.fr {float: right;}

.num{margin-right:6px;}
.bloder{font-weight:bolder;font-size: 12px;}
.time{padding-left:50px;}
.zhishi, .wenda{width:95%;height:280px;margin:30px auto;background:#FFF;border:#eeeeee  thin solid;}

.footer{ width: 100%; height: 30px; line-height: 30px; text-align: center;margin-bottom:15px;}
.footer a{padding: 0px 20px; text-decoration: none; color: #333;}




